UpdateInterval=0
TimeScale=0
Size=54
Mode=0
Frame=0
Border=0
Bars=1
TrackedCore=0
Command=top
InTerminal=1
StartupNotification=0
ColorMode=1
Foreground1=#0000ffff0000
Foreground2=#ffff9b9b0000
Background=#e2e2e2e2dede
Foreground3=#00000000ffff
BarsColor=#55a6ffff0000

